<section class="container">
    <header class="header d-flex">
        <div class="buscar-pensamentos">
            <input type="search" 
            class="filtro"
            placeholder="O que você procura?"
            autofocus
            [(ngModel)]="filtro"
            (keyup)="pesquisarPensamentos()"
            > 
            <img src="/assets/imagens/lupa.png" alt="lupa-azul">
          </div>
          <h2 class="ff-inter">Meu Mural</h2>
          <div class="botoes">
            <button class="botao">Meu Mural</button>
            <button class="botao" (click)="listarFavoritos()">Meus Favoritos</button>
            <button class="botao" routerLink="/criarPensamento">Novo pensamento</button>
          </div>
    </header>
    <div class="mural" *ngIf="listarPensamentos.length > 0, else semPensamentos">
        <div *ngFor="let pensamento of listarPensamentos">
            <app-pensamento [pensamento]="pensamento"
            [listaFavoritos]="listaFavoritos"
            ></app-pensamento>
        </div>
    </div>
</section>
<app-botao-carregar-mais
[maisPensamentos]="maisPensamentos"
(click)="carregarMaisPensamentos()"
>

</app-botao-carregar-mais>
<ng-template #semPensamentos>
    <div class="ff-inter sem-pensamentos">
        <p>Ainda não há pensamentos cadastrados!</p>
    </div>
</ng-template>